.divGroup {
	border-radius:	15px;
	background:	#FFFFFF;
	border:		1px solid #000000;
	padding:	10px;
	margin:		20px;
}

.status-div {
	background:	grey;
	border:		1px solid #000000;
	border-radius:	5px;
	height:		40px;
	color:		white;
	vertical-align:	middle;
}
